@page "/player_info"
@inject HttpClient Http
<h3>PlayerInfo</h3>

<PageTitle>Nba Players</PageTitle>

@if (players == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <ul>
        @foreach (var player in players)
        {
                    <li>@player.first_name @player.last_name - Position @player.PlayerPosition <br/>
                    Team: @player.team.full_name (@player.team.abbreviation), @player.team.city <br/>
                   Height: @player.height ,<br/>
                   Draft Year: @player.draft_year <br/>
                Top 10 in Draft: @(player.wasATop10Draft() ? "yes" : "no")
            </li>
            <br/>
        }
        </ul>
}

@code {
    private List<PlayerInformation.Player> players;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var response = await Http.GetFromJsonAsync<PlayerInformation.PlayerResponse>("players");
            players = response?.data;

        }
        catch (Exception e)
        {
            Console.WriteLine("Error Message");
        }
    }
}
