@page "/player_info"
@inject IHttpClientFactory ClientFactory

<h2 style="text-align: center;font-family:Impact;">Information about all the current NBA players</h2>
    <br>

<PageTitle>Nba Players</PageTitle>
<img src="images/tatum.jpg" alt="player" style="max-width: 100%; height:70%;">
    <br>

@if (players == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <ul>
        @foreach (var player in players)
        {
                    <li>@player.first_name @player.last_name - Position @player.PlayerPosition <br/>
                    Team: @player.team.full_name (@player.team.abbreviation), @player.team.city <br/>
                   Height: @player.height ,<br/>
                   Draft Year: @player.draft_year <br/>
                Top 10 in Draft: @(player.wasATop10Draft() ? "yes" : "no")
            </li>
            <br/>
        }
        </ul>
}

@code {
    private List<PlayerInformation.Player> players;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var client = ClientFactory.CreateClient("BallDontLieClient");
            var response = await client.GetFromJsonAsync<PlayerInformation.PlayerObject>("players");
            players = response?.data;

        }
        catch (Exception e)
        {
            Console.WriteLine("Error Message");
        }
    }
}
